*.html.*
*.html
t
tt
*~
\#*\#
.~lock*
*.pdoc
otp
fake-src/
NWFLUG/my-presentations/demo/tmp/
NWFLUG/my-presentations-pinpoint/examples/bg.jpg
NWFLUG/my-presentations-pinpoint/examples/bowls.jpg
NWFLUG/my-presentations-pinpoint/examples/introduction.pdf
NWFLUG/my-presentations-pinpoint/examples/linus.jpg
NWFLUG/my-presentations-pinpoint/examples/simple-demo.pdf
NWFLUG/my-presentations-pinpoint/mtg-2016-12-05.pdf
NWFLUG/my-presentations-pinpoint/mtg-2017-01-09.pdf
NWFLUG/nwflug-award-certificates/2017/2017-award-tux-0.75-grayscale.jpg
NWFLUG/nwflug-award-certificates/2017/2017-award-tux-0.75-grayscale.png
