~*
**/html/ui
**/html/pix
**/src/*.pdoc
/image-other-smaller.jpg
/image-other-browse.jpg
my-presentations/free-win-progs/deck.js
my-presentations/free-win-progs/reveal.js
my-presentations/intro-to-linux/deck.js
my-presentations/intro-to-linux/reveal.js
my-presentations/intro-to-perl6/deck.js
my-presentations/intro-to-perl6/reveal.js

*.pdf
*.html
*.aux
*.dvi
*.log
*.nav
*.out
*.tex
*.bak
*.vrb
*.snm
*.toc
